<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
      <httpRuntime maxRequestLength="524288000" />
	</system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".ashx" allowed="true" />
                    <add fileExtension=".zip" allowed="true" />
                    <add fileExtension=".rar" allowed="true" />
                </fileExtensions>
                <requestLimits maxAllowedContentLength="524288000"/>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
